<h3><%= @user.name %>'s Topics</h3>

<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.title, topic_path(topic) %></li>
  <% end %>
</ul>

<% if @user == current_user %>

  <p><%= link_to "Post a New Topic", new_user_topic_path(@user) %></p>

  <p><%= link_to "Edit Account", edit_user_path(@user) %></p>

  <p><%= link_to "Delete Account", user_path(@user), method: :delete, data: {confirm: "Are you sure you wish to delete your account?"} %></p>
<% end %>
<p><%= link_to "Back to the Forum", topics_path %>.</p> 
